# COMP40370 Pratical 3 (A) REGRESSION AND CLASSIFICATION

***

### Imports

In [181]:
import pandas as pd

### Load CSV

In [321]:
df = pd.read_csv('./AutoMpg.csv')
df

,horsepower,mpg,cylinders,displacement,weight,acceleration,model year,origin,car name
0,130.0,18.0,8,307.0,3504,12.0,70,1.0,chevrolet chevelle malibu
1,165.0,15.0,8,350.0,3693,11.5,70,1.0,buick skylark 320
2,150.0,18.0,8,318.0,3436,11.0,70,1.0,plymouth satellite
3,150.0,16.0,8,304.0,3433,12.0,70,1.0,amc rebel sst
4,140.0,17.0,8,302.0,3449,10.5,70,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
397,52.0,44.0,4,97.0,2130,24.6,82,2.0,vw pickup
398,84.0,32.0,4,135.0,2295,11.6,82,1.0,dodge rampage
399,79.0,28.0,4,120.0,2625,18.6,82,1.0,ford ranger
400,82.0,31.0,4,119.0,2720,19.4,82,1.0,chevy s-10
401,160.0,14.0,8,340.0,3609,8.0,70,1.0,plymouth 'cuda 340

***

## Part A: Question 1: Polynomial Regression

***

### a. Apply Data Pre-Processing Instructions from Practical 1

* Identify and impute missing values 

* Replace outliers with upper and lower bounds

* Remove duplicates

* Replace the number of column ‘origin’ by the country of origin as follows:
1:'USA',2:'Europe',3:'Japan'

* Create a new column ‘brand’, and extract the car brand from the first word of ‘car
name’ column

#### Identify Missing Values

In [322]:
df.isnull().sum()

horsepower      16
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          15
car name         0
dtype: int64

In [323]:
df['car name'].unique()

array(['chevrolet chevelle malibu', 'buick skylark 320',
       'plymouth satellite', 'amc rebel sst', 'ford torino',
       'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
       'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se',
       "plymouth 'cuda 340", 'chevrolet monte carlo',
       'buick estate wagon (sw)', 'toyota corona mark ii',
       'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
       'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
       'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
       'dodge d200', 'Unknown', 'chevrolet vega 2300', 'toyota corona',
       'ford pinto', 'plymouth satellite custom', 'ford torino 500',
       'amc matador', 'pontiac catalina brougham', 'dodge monaco (sw)',
       'ford country squire (sw)', 'pontiac safari (sw)',
       'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
       'pontiac firebird', 'ford mustang', 'mercury capri 2000',
       'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
       'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
       'toyota corona hardtop', 'dodge colt hardtop', 'volkswagen type 3',
       'chevrolet vega', 'ford pinto runabout', 'amc ambassador sst',
       'mercury marquis', 'buick lesabre custom',
       'oldsmobile delta 88 royale', 'chrysler newport royal',
       'mazda rx2 coupe', 'amc matador (sw)',
       'chevrolet chevelle concours (sw)', 'ford gran torino (sw)',
       'plymouth satellite custom (sw)', 'volvo 145e (sw)',
       'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
       'ford pinto (sw)', 'datsun 510 (sw)',
       'toyouta corona mark ii (sw)', 'dodge colt (sw)',
       'toyota corolla 1600 (sw)', 'buick century 350',
       'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
       'mercury marquis brougham', 'chevrolet caprice classic',
       'ford ltd', 'plymouth fury gran sedan',
       'chrysler new yorker brougham', 'buick electra 225 custom',
       'amc ambassador brougham', 'plymouth valiant',
       'chevrolet nova custom', 'volkswagen super beetle', 'ford country',
       'plymouth custom suburb', 'oldsmobile vista cruiser',
       'toyota carina', 'datsun 610', 'maxda rx3', 'mercury capri v6',
       'fiat 124 sport coupe', 'chevrolet monte carlo s',
       'pontiac grand prix', 'fiat 128', 'opel manta', 'audi 100ls',
       'volvo 144ea', 'dodge dart custom', 'saab 99le', 'toyota mark ii',
       'oldsmobile omega', 'chevrolet nova', 'datsun b210',
       'chevrolet chevelle malibu classic', 'plymouth satellite sebring',
       'buick century luxus (sw)', 'dodge coronet custom (sw)',
       'audi fox', 'volkswagen dasher', 'datsun 710', 'dodge colt',
       'fiat 124 tc', 'honda civic', 'subaru', 'fiat x1.9',
       'plymouth valiant custom', 'mercury monarch', 'chevrolet bel air',
       'plymouth grand fury', 'buick century',
       'chevroelt chevelle malibu', 'plymouth fury', 'buick skyhawk',
       'chevrolet monza 2+2', 'ford mustang ii', 'toyota corolla',
       'pontiac astro', 'volkswagen rabbit', 'amc pacer', 'volvo 244dl',
       'honda civic cvcc', 'fiat 131', 'capri ii', 'renault 12tl',
       'dodge coronet brougham', 'chevrolet chevette', 'chevrolet woody',
       'vw rabbit', 'dodge aspen se', 'ford granada ghia',
       'pontiac ventura sj', 'amc pacer d/l', 'datsun b-210', 'volvo 245',
       'plymouth volare premier v8', 'mercedes-benz 280s',
       'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100',
       'honda accord cvcc', 'buick opel isuzu deluxe', 'renault 5 gtl',
       'plymouth arrow gs', 'datsun f-10 hatchback',
       'oldsmobile cutlass supreme', 'dodge monaco brougham',
       'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
       'plymouth volare custom', 'ford granada', 'pontiac grand prix lj',
       'chevrolet monte carlo landau', 'chrysler cordoba',
       'ford thunderbird', 'volkswagen rabbit custom',
       'pontiac sunbird coupe', 'toyota corolla liftback',
       'ford mustang ii 2+2', 'dodge colt m/m', 'subaru dl', 'datsun 810',
       'bmw 320i', 'mazda rx-4', 'volkswagen rabbit custom diesel',
       'ford fiesta', 'mazda glc deluxe', 'datsun b210 gx',
       'oldsmobile cutlass salon brougham', 'dodge diplomat',
       'mercury monarch ghia', 'pontiac phoenix lj',
       'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
       'amc concord', 'buick century special', 'mercury zephyr',
       'dodge aspen', 'amc concord d/l',
       'buick regal sport coupe (turbo)', 'ford futura',
       'dodge magnum xe', 'datsun 510', 'dodge omni',
       'toyota celica gt liftback', 'plymouth sapporo',
       'oldsmobile starfire sx', 'datsun 200-sx', 'audi 5000',
       'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
       'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
       'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
       'dodge aspen 6', 'ford ltd landau', 'mercury grand marquis',
       'dodge st. regis', 'chevrolet malibu classic (sw)',
       'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
       'maxda glc deluxe', 'dodge colt hatchback custom', 'amc spirit dl',
       'mercedes benz 300d', 'cadillac eldorado', 'plymouth horizon',
       'plymouth horizon tc3', 'datsun 210', 'fiat strada custom',
       'buick skylark limited', 'chevrolet citation',
       'oldsmobile omega brougham', 'pontiac phoenix',
       'toyota corolla tercel', 'datsun 310', 'ford fairmont',
       'audi 4000', 'toyota corona liftback', 'mazda 626',
       'datsun 510 hatchback', 'mazda glc', 'vw rabbit c (diesel)',
       'vw dasher (diesel)', 'audi 5000s (diesel)', 'mercedes-benz 240d',
       'honda civic 1500 gl', 'renault lecar deluxe', 'vokswagen rabbit',
       'datsun 280-zx', 'mazda rx-7 gs', 'ford mustang cobra',
       'honda accord', 'plymouth reliant', 'dodge aries wagon (sw)',
       'toyota starlet', 'plymouth champ', 'honda civic 1300',
       'datsun 210 mpg', 'toyota tercel', 'mazda glc 4',
       'plymouth horizon 4', 'ford escort 4w', 'ford escort 2h',
       'volkswagen jetta', 'renault 18i', 'honda prelude', 'datsun 200sx',
       'peugeot 505s turbo diesel', 'volvo diesel', 'toyota cressida',
       'datsun 810 maxima', 'oldsmobile cutlass ls', 'ford granada gl',
       'chrysler lebaron salon', 'chevrolet cavalier',
       'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
       'pontiac j2000 se hatchback', 'dodge aries se',
       'ford fairmont futura', 'amc concord dl', 'volkswagen rabbit l',
       'mazda glc custom l', 'mazda glc custom', 'plymouth horizon miser',
       'mercury lynx l', 'nissan stanza xe', 'honda civic (auto)',
       'datsun 310 gx', 'buick century limited',
       'oldsmobile cutlass ciera (diesel)', 'chrysler lebaron medallion',
       'ford granada l', 'toyota celica gt', 'dodge charger 2.2',
       'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'], dtype=object)

In [324]:
df[df['car name'].str.lower() == 'unknown'].shape[0]

2

Types of missing values identified: Horse & Origin missing values, 'car name' contains 2 'Unknown' values. 

#### Correct Missing Values

In [325]:
#Horsepower
# Other than Unknown values in car name column, if row has NaN value, and car name of that row is present again in car name and the value of mpg ...
# is the same, then change the NaN value in either horsepower or origin to the row that has the same car name. If there are multiple rows with the same ...
# car name and same value of mpg, then find mean of their value to replace the missing columns value. 
df[df.isnull().any(axis=1)]

,horsepower,mpg,cylinders,displacement,weight,acceleration,model year,origin,car name
9,190.0,15.0,8,390.0,3850,8.5,70,NaN,amc ambassador dpl
16,NaN,18.0,6,199.0,2774,15.5,70,1.0,amc hornet
28,193.0,9.0,8,304.0,4732,18.5,70,NaN,Unknown
32,NaN,25.0,4,98.0,2046,19.0,71,1.0,ford pinto
46,NaN,18.0,6,258.0,2962,13.5,71,1.0,amc hornet sportabout (sw)
54,65.0,31.0,4,71.0,1773,19.0,71,NaN,toyota corolla 1200
74,NaN,13.0,8,307.0,4098,14.0,72,1.0,chevrolet chevelle concours (sw)
76,150.0,14.0,8,318.0,4077,14.0,72,NaN,plymouth satellite custom (sw)
96,NaN,13.0,8,440.0,4735,11.0,73,NaN,chrysler new yorker brougham
111,72.0,21.0,4,140.0,2401,19.5,73,NaN,chevrolet vega
116,NaN,26.0,4,98.0,2265,15.5,73,2.0,fiat 124 sport coupe
126,180.0,11.0,8,350.0,3664,11.0,73,NaN,oldsmobile omega
128,NaN,21.0,6,200.0,2875,17.0,74,1.0,ford maverick
145,67.0,26.0,4,79.0,1963,15.5,74,NaN,volkswagen dasher
150,NaN,24.0,4,90.0,2108,15.5,74,2.0,fiat 128
165,110.0,15.0,6,258.0,3730,19.0,75,NaN,amc matador
170,NaN,29.0,4,97.0,2171,16.0,75,3.0,toyota corolla
181,88.0,23.0,4,120.0,2957,17.0,75,NaN,peugeot 504
192,NaN,15.5,8,304.0,3962,13.9,76,1.0,amc matador
196,81.0,24.0,6,200.0,3012,17.6,76,NaN,ford maverick
202,NaN,20.0,6,225.0,3651,17.7,76,1.0,dodge aspen se
212,88.0,19.0,4,120.0,3270,21.9,76,NaN,peugeot 504
225,NaN,17.0,8,260.0,4060,19.0,77,1.0,oldsmobile cutlass supreme
229,105.0,20.5,6,231.0,3425,16.9,77,NaN,buick skylark
244,97.0,22.0,6,146.0,2815,14.5,77,NaN,datsun 810
259,100.0,20.5,6,225.0,3430,17.2,78,NaN,plymouth volare
333,NaN,40.9,4,85.0,1835,17.3,80,2.0,renault lecar deluxe
339,NaN,23.6,4,140.0,2905,14.3,80,1.0,ford mustang cobra
357,NaN,34.5,4,100.0,2320,15.8,81,2.0,renault 18i
377,NaN,23.0,4,151.0,3035,20.5,82,1.0,amc concord dl

In [326]:
df.isnull().sum()

horsepower      16
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          15
car name         0
dtype: int64

In [327]:
df_origin_r = df[df['origin'].isna()]
df_origin_r = df_origin_r[df_origin_r['car name'] != 'Unknown']
matching_rows = df[df['car name'].isin(df_origin_r['car name']) & df['origin'].notna()]
merged_df = pd.merge(df_origin_r, matching_rows, on='car name', how='inner')
df_origin_r_filtered = df_origin_r[df_origin_r['car name'].isin(merged_df['car name'])]
correct_rows = pd.DataFrame(columns=df_origin_r.columns)
for index, row in df_origin_r.iterrows():
    car_name = row['car name']
    origin_mpg = row['mpg']
    matching_rows_for_car = matching_rows[matching_rows['car name'] == car_name]
    close_rows = matching_rows_for_car[
        (matching_rows_for_car['mpg'] >= origin_mpg - 1) &
        (matching_rows_for_car['mpg'] <= origin_mpg + 1)
    ]
    correct_rows = pd.concat([correct_rows, close_rows])
correct_rows.reset_index(drop=True, inplace=True)
correct_rows[['cylinders', 'weight', 'model year']] = correct_rows[['cylinders', 'weight', 'model year']].apply(pd.to_numeric, errors='coerce')
amc_matador_rows = correct_rows[correct_rows['car name'] == 'amc matador']
average_amc_matador = amc_matador_rows.mean(numeric_only=True)
average_amc_matador['car name'] = 'amc matador'
correct_rows_amc = pd.DataFrame(average_amc_matador).transpose()
correct_rows = correct_rows[correct_rows['car name'] != 'amc matador']
correct_rows = pd.concat([correct_rows, correct_rows_amc], ignore_index=True)
df_origin_r_filtered = df_origin_r[df_origin_r['car name'].isin(correct_rows['car name'])]
#df_origin_r_filtered.reset_index(drop=True, inplace=True)
df_origin_r_filtered_fixed = df_origin_r_filtered.copy()
df_origin_r_filtered_fixed.reset_index(drop=True, inplace=True)
df_origin_r_filtered_fixed['origin'] = df_origin_r_filtered_fixed['origin'].fillna(correct_rows['origin'])
df_origin_r_filtered_fixed = df_origin_r_filtered_fixed.set_index(df_origin_r_filtered.index)
df.update(df_origin_r_filtered_fixed)
df.isnull().sum()

/tmp/ipykernel_30174/3230631053.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  correct_rows = pd.concat([correct_rows, close_rows])

horsepower      16
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          11
car name         0
dtype: int64

In [319]:
df_horse_r = df[df['horsepower'].isna()]
df_horse_r = df_horse_r[df_horse_r['car name'] != 'Unknown']
matching_rows = df[df['car name'].isin(df_horse_r['car name']) & df['horsepower'].notna()]
merged_df = pd.merge(df_horse_r, matching_rows, on='car name', how='inner')
df_horse_r_filtered = df_horse_r[df_horse_r['car name'].isin(merged_df['car name'])]
merged_df = pd.merge(df_horse_r, matching_rows, on='car name', how='inner')
df_horse_r_filtered = df_horse_r[df_horse_r['car name'].isin(merged_df['car name'])]
correct_rows = pd.DataFrame(columns=df_horse_r.columns)
for index, row in df_horse_r.iterrows():
    car_name = row['car name']
    horse_mpg = row['mpg']
    matching_rows_for_car = matching_rows[matching_rows['car name'] == car_name]
    close_rows = matching_rows_for_car[
        (matching_rows_for_car['mpg'] >= horse_mpg - 1) &
        (matching_rows_for_car['mpg'] <= horse_mpg + 1)
    ]
    correct_rows = pd.concat([correct_rows, close_rows])
correct_rows[['cylinders', 'weight', 'model year']] = correct_rows[['cylinders', 'weight', 'model year']].apply(pd.to_numeric, errors='coerce')
correct_rows = df.loc[[101, 136]]
df.loc[16] = correct_rows.loc[101]
df.loc[192] = correct_rows.loc[136]
df.isnull().sum()

/tmp/ipykernel_30174/720174776.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  correct_rows = pd.concat([correct_rows, close_rows])

horsepower      14
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          11
car name         0
dtype: int64

For rest of Missing Horsepower values, input mean horsepower.

For rest of Missing Origin Values, fill in with other brand's origin.

### b. Generate a simple linear regression model that predicts mpg based on ‘horsepower’ alone and train it with 70% of the data. What are the RMSE and R2 values of testing/predicted data?

### c. Generate a group of polynomial modelsthat predict mpg based on the ‘horsepower’ alone. The models should have degrees of 2, 5, 10, and 20. For each model, find RMSE and R2 values of testing/predicted data.

### d. Plot a scatter diagram between mpg and ‘horsepower’ with all the fitted linear and non-linear models. Explain what will happen when the model complexity is increased. Which model is better? Explain your answer.

***

## Part A: Question 2: Multiple Linear Regression

***

### a. Predict mpg based on ‘horsepower', 'displacement', 'weight' and 'acceleration'. What are the RMSE and R2 values? Normalize the data then make the prediction again, What are the RMSE and R2 values after normalization?

### b. Which are the most influential two factors in the mpg prediction?

### c. Predict mpg based on the first PCA component of the above four variables (‘horsepower', 'displacement', 'weight' and 'acceleration'). Do you see any accuracy reduction?

### d. Add origin and cylinders as categorical variables appropriately into the prediction model and discuss any accuracy changes.

### e. By adding “model_year” as an ordinal variable and “brand” as a categorical variable do you see any improvement in the model performance?

***

## Part B: Classification – Decision Trees

***

### 1. Create a new column from pre-processed data-frame in Q1 (a) called ‘FEGroup’ tocategorise cars as “high-fuel” and “low-fuel” consumption. Allocate 10% of cars having the lowest mpg (use pandas qcut function) into the ‘high-fuel’ consumption class.

### 2. We want to use ‘horsepower', 'weight', 'acceleration', ‘cylinders’ and ‘origin’ columns to predict ‘FEGroup’. Split the data into 70% for training and 30% for testing. Then train KNeighborsClassifier and measure its accuracy.

### 3. Using sklearn.tree library, generate a decision tree based on ‘horsepower', 'weight', 'acceleration', ‘cylinders’ and ‘origin’ to predict ‘FEGroup’. Using information gain (entropy) as the splitting criterion, set max_depth to 3 while leaving everything else to their default values

### 4. Find the accuracy when the data is split into 70% for training and 30% for testing. (Hint: use np.random.seed(42)). Plot the resulting decision tree using sklearn plot_tree function.

### 5. Train decision trees, with max_depth set to 3, 5, 8, respectively. Compare the results their results. Discuss the problem of measuring accuracy in an imbalance class problem, such as this one.

***